<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>


<main>
    <div class="jumbotron">
        <h1>Authorize</h1>
        <p>Copy the following code : <strong><%= userCode %></strong></p>
        <p>Go to the following url <a href="<%= verificationUri %>" target="_blank"><%= verificationUri %></a></p>
        <img src="data:image;base64, <%= qrCode  %>" alt="">
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>